
@{
    //ViewBag.Title = "Index";
}

    <h2>Index</h2>
    <br />
    <br />
    <br />
    <br />
    <h1 id="rdiv"></h1>
    <br />
    <h2 id="comp"></h2>
    <br />
    <centre>
        <div id="drop-div"></div>
    </centre>
    <br />

    <table border="1">
        <tr>
            <td>
                <div id="c1"></div>
            </td>
            <td>
                <div id="c2"></div>
            </td>
        </tr>
    </table>

    <div id="D1"></div>
    <div id="Randomti"></div>
    <div id="sty"></div>


<script src="~/Scripts/react/react.min.js"></script>
<script src=@Url.Content("~/Scripts/JS/First.jsx")></script>
<script src=@Url.Content("~/Scripts/JS/Second.jsx")></script>
<script src=@Url.Content("~/Scripts/JS/Drop.jsx")></script>
<script src=@Url.Content("~/Scripts/JS/Comp1.jsx")></script>
<script src=@Url.Content("~/Scripts/JS/Comp2.jsx")></script>
<script src=@Url.Content("~/Scripts/JS/Date.jsx")></script>
<script src=@Url.Content("~/Scripts/JS/Title.jsx")></script>
<script src=@Url.Content("~/Scripts/JS/BGColor.jsx")></script>
<link href="~/Content/StyleSheet1.css" rel="stylesheet" />