@model EmplDropDown.Models.employee

@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Employee</title>
    <script type="text/javascript" src="http://code.jquery.com/jquery-1.10.2.js"></script>
</head>
<body>
    <div>
        Select User: @Html.DropDownListFor(m => m.EmpId, new SelectList(Model.usersinfo, "EmpId", "FName"), "Select employee")<br /><br />
        Selected Employee: <label id="lbltxt"></label><br /><br />
        Selected Value: <label id="lblid"></label>
    </div>
    <script type="text/javascript">
$(function () {
//Dropdownlist Selectedchange event
$('#EmpId').change(function () {
// Get Dropdownlist seleted item text
$("#lbltxt").text($("#EmpId option:selected").text());
// Get Dropdownlist selected item value
$("#lblid").text($("#EmpId").val());
})
})
    </script>
</body>

</html>
