
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<h1 id="rdiv"></h1>
<p id="comp"></p>

<centre>
    <div id="drop"></div>
</centre>

<script src="~/Scripts/react/react.min.js"></script>
<script src=@Url.Content("~/Scripts/JS/First.jsx")></script>
<script src=@Url.Content("~/Scripts/JS/Second.jsx")></script>

<script src=@Url.Content("~/Scripts/JS/Drop.jsx")></script>
